@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  text-align: center;
}

.app-body {
  background-color: #f3f3f3;
  /* font-family: 'Raleway', sans-serif; */

}
/* 
a {
  color: #FFF !important;
}

a:hover {
  color: #00F !important;
} */

.my-app {
  background-color: #f3f3f3;
  min-height: 100vh;
  min-width: 100vw;
}


/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}